vendor/lib64/libmegvii_superiq.so
vendor/etc/license.lic
vendor/etc/camera/megvii
system/system/product/priv-app/Velvet/Velvet.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/Settings/Settings.apk
system/system/priv-app/Browser/Browser.apk
system/system/etc/camera/license_release.lic
system/system/app/OppoCamera/OppoCamera.apk
preload_common.img
